environment {
  PATH "/home/rem/.local/bin:/home/rem/bin:/home/rem/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/jvm/default/bin"
  TERM "xterm-256color"
  QT_QPA_PLATFORM "wayland"
  // WLR_RENDERER "vulkan"
  WLR_NO_HARDWARE_CURSORS "1"
  GTK_USE_PORTAL "0"
  XCURSOR_THEME "Bibata-Modern-Ice"
  XCURSOR_SIZE "24"
MOZC_ENABLE_WAYLAND "1"
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_DESKTOP "niri"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_STYLE_OVERRIDE "adwaita"
  OZONE_PLATFORM "wayland"
  // http_proxy "http://10.38.31.201:8080"
  // https_proxy "http://10.38.31.201:8080"
  // HTTP_PROXY "http://10.38.31.201:8080"
  // HTTPS_PROXY "http://10.38.31.201:8080"
}

