// spawn-sh-at-startup "sleep 2 && killall xdg-desktop-portal-hyprland xdg-desktop-portal xdg-desktop-portal-gnome xdg-desktop-portal-gtk; sleep 1; systemctl --user restart xdg-desktop-portal.service"
// spawn-at-startup "killall" "xdg-desktop-portal-hyprland" "xdg-desktop-portal" "xdg-desktop-portal-gnome" "xdg-desktop-portal-gtk;" "systemctl" "--user" "restart" "xdg-desktop-portal.service"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-sh-at-startup "$HOME/.config/rofi/restore-wallpaper.sh"
spawn-at-startup "fcitx5" "-dr"
spawn-sh-at-startup "export $(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)"
// spawn-at-startup "gammastep" "-O" "4500"
// waybar is managed by waybar.service (systemd) — do not spawn here
spawn-at-startup "wl-clip-persist"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "~/.config/session/init.sh"
spawn-sh-at-startup "sleep 3 && env > /tmp/niri-startup-env.txt"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

